fastapi
uvicorn[standard]
yfinance
pandas
ta
supabase
python-dotenv
requests
scikit-learn
lime
nltk
numpy
openai
Pillow
matplotlib
mplfinance
python-jose[cryptography]
passlib[bcrypt]
python-multipart
